In [1]:
# Imports
import pandas as pd
import matplotlib.pyplot as plt
import os
import seaborn as sns
import numpy as np
from sklearn.model_selection import train_test_split
sns.set(style="white", color_codes=True)
sns.set_context(rc={'font.family': 'sans', 'font.size': 24, 'axes.titlesize':24, 'axes.labelsize':24})
#if you want to know current working dir
os.chdir('../..')

from src.utils import *
from src.utility import merge_speed_events
import src.data as data
import src.utility as utils
from src.preprocessing.other_features import avg_speed_for_roadtype_event

%matplotlib inline

In [5]:
sub = pd.read_csv('/Users/gianpaolo/Downloads/submission_multioutput_def_TRUE.csv')
sensors = data.sensors().drop_duplicates()

caching resources/dataset/preprocessed/sensors.csv.gz

In [6]:
sub = pd.merge(sub, sensors, on=[KEY, KM])

In [9]:
aa = sub.sort_values([KEY, KM, 'PREDICTION_STEP'])
aa[aa.ROAD_TYPE == 0].head(200)

,KEY,KM,DATETIME_UTC,PREDICTION_STEP,SPEED_AVG,EMERGENCY_LANE,LANES,ROAD_TYPE
202,43,573,2019-01-18 16:15:00,0,190.006810,0,2,0
203,43,573,2019-01-18 16:30:00,1,189.759229,0,2,0
204,43,573,2019-01-18 16:45:00,2,189.434673,0,2,0
205,43,588,2019-01-04 11:15:00,0,214.946874,0,2,0
206,43,588,2019-01-04 11:30:00,1,216.073533,0,2,0
207,43,588,2019-01-04 11:45:00,2,216.249370,0,2,0
208,43,588,2019-01-04 12:00:00,3,220.192158,0,2,0
209,43,594,2019-01-06 15:45:00,0,227.238495,0,2,0
210,43,594,2019-01-06 16:00:00,1,228.800770,0,2,0
211,43,594,2019-01-06 16:15:00,2,230.557474,0,2,0
212,43,594,2019-01-06 16:30:00,3,228.152489,0,2,0
213,46,72,2019-01-01 19:15:00,0,133.401572,0,1,0
214,46,72,2019-01-01 19:30:00,1,132.120758,0,1,0
215,46,72,2019-01-01 19:45:00,2,128.493895,0,1,0
216,46,72,2019-01-01 20:00:00,3,127.691248,0,1,0
217,46,96,2019-01-24 12:15:00,0,191.743570,0,1,0
218,46,96,2019-01-24 12:30:00,1,191.162902,0,1,0
219,46,96,2019-01-24 12:45:00,2,193.264004,0,1,0
220,46,96,2019-01-24 13:00:00,3,191.575222,0,1,0
221,46,121,2019-01-24 12:15:00,0,197.253675,0,1,0
222,46,121,2019-01-24 12:30:00,1,191.707689,0,1,0
223,46,121,2019-01-24 12:45:00,2,191.399297,0,1,0
224,46,121,2019-01-24 13:00:00,3,190.475688,0,1,0
225,46,144,2019-01-24 12:15:00,0,153.287002,0,1,0
226,46,144,2019-01-24 12:30:00,1,150.797939,0,1,0
227,46,144,2019-01-24 12:45:00,2,151.960459,0,1,0
228,46,144,2019-01-24 13:00:00,3,152.199145,0,1,0
229,46,154,2019-01-24 12:15:00,0,191.592811,0,1,0
230,46,154,2019-01-24 12:30:00,1,188.873834,0,1,0
231,46,154,2019-01-24 12:45:00,2,183.148904,0,1,0
...,...,...,...,...,...,...,...,...
372,70,600,2019-01-10 08:30:00,2,162.688346,1,2,0
373,70,600,2019-01-10 08:45:00,3,163.362315,1,2,0
374,74,83,2019-01-01 08:00:00,0,142.926927,0,1,0
375,74,83,2019-01-01 08:15:00,1,143.982046,0,1,0
376,74,83,2019-01-01 08:30:00,2,142.642155,0,1,0
377,74,83,2019-01-01 08:45:00,3,140.471294,0,1,0
378,74,100,2019-01-21 09:00:00,2,133.618403,0,1,0
379,78,238,2019-01-16 15:45:00,0,197.048494,0,1,0
380,78,238,2019-01-16 16:00:00,1,194.892170,0,1,0
381,78,238,2019-01-16 16:15:00,2,194.249881,0,1,0
382,78,238,2019-01-16 16:30:00,3,191.326570,0,1,0
383,78,309,2019-02-01 15:30:00,0,199.485938,0,1,0
384,78,309,2019-02-01 15:45:00,1,201.513752,0,1,0
385,78,309,2019-02-01 16:00:00,2,197.162528,0,1,0
386,78,309,2019-02-01 16:15:00,3,198.708761,0,1,0
387,80,50,2019-01-01 16:00:00,0,101.598748,0,1,0
388,80,50,2019-01-01 16:15:00,1,107.095600,0,1,0
389,80,50,2019-01-01 16:30:00,2,117.158329,0,1,0
390,80,50,2019-01-01 16:45:00,3,119.927442,0,1,0
391,80,71,2019-02-05 08:30:00,0,190.113521,0,1,0
392,80,71,2019-02-05 08:45:00,1,189.363474,0,1,0
393,80,71,2019-02-05 09:00:00,2,187.939216,0,1,0
394,80,71,2019-02-05 09:15:00,3,187.224319,0,1,0
395,80,93,2019-02-05 08:30:00,0,134.099005,0,1,0
396,80,93,2019-02-05 08:45:00,1,131.165007,0,1,0
397,80,93,2019-02-05 09:00:00,2,133.476324,0,1,0
398,80,93,2019-02-05 09:15:00,3,138.674733,0,1,0
399,80,175,2019-02-10 16:00:00,0,171.980794,0,1,0
400,80,175,2019-02-10 16:15:00,1,167.578551,0,1,0
401,80,175,2019-02-10 16:30:00,2,164.021378,0,1,0

In [10]:
sub.head()

,KEY,KM,DATETIME_UTC,PREDICTION_STEP,SPEED_AVG,EMERGENCY_LANE,LANES,ROAD_TYPE
0,0,333,2019-01-07 08:00:00,0,233.845579,1,2,1
1,0,333,2019-01-07 08:15:00,1,233.845860,1,2,1
2,0,333,2019-01-07 08:30:00,2,234.907502,1,2,1
3,0,333,2019-01-07 08:45:00,3,234.893784,1,2,1
4,0,337,2019-01-07 08:00:00,0,213.330420,1,2,1