In [1]:
import os
os.chdir('./..')

In [2]:
import src.data as data
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from time import time
import src.utility as utils

In [4]:
bs=data.base_structure_hours()

base structure loaded in: 0.0 s

shape of the dataframe is: (5298840, 3)

In [5]:
bs

                DATETIME_UTC  KEY    KM
0        2018-09-01 00:00:00    0   333
1        2018-09-01 00:00:00    0   337
2        2018-09-01 00:00:00    0   342
3        2018-09-01 00:00:00    0   343
4        2018-09-01 00:00:00    0   357
5        2018-09-01 00:00:00    0   385
6        2018-09-01 00:00:00    0   407
7        2018-09-01 00:00:00    0   411
8        2018-09-01 00:00:00    0   423
9        2018-09-01 00:00:00    0   443
10       2018-09-01 00:00:00    0   454
11       2018-09-01 00:00:00    0   488
12       2018-09-01 00:00:00    0   520
13       2018-09-01 00:00:00    1  1480
14       2018-09-01 00:00:00    1  1512
15       2018-09-01 00:00:00    1  1546
16       2018-09-01 00:00:00    1  1557
17       2018-09-01 00:00:00    1  1577
18       2018-09-01 00:00:00    1  1589
19       2018-09-01 00:00:00    1  1593
20       2018-09-01 00:00:00    1  1615
21       2018-09-01 00:00:00    1  1643
22       2018-09-01 00:00:00    1  1657
23       2018-09-01 00:00:00    1  1658
24       2018-09-01 00:00:00    1  1663
25       2018-09-01 00:00:00    1  1667
26       2018-09-01 00:00:00   10    79
27       2018-09-01 00:00:00  100   577
28       2018-09-01 00:00:00  101  1423
29       2018-09-01 00:00:00  102   837
...                      ...  ...   ...
5298810  2019-01-01 23:00:00   90   232
5298811  2019-01-01 23:00:00   91  1768
5298812  2019-01-01 23:00:00   91  1778
5298813  2019-01-01 23:00:00   91  1800
5298814  2019-01-01 23:00:00   91  1815
5298815  2019-01-01 23:00:00   91  1826
5298816  2019-01-01 23:00:00   92   561
5298817  2019-01-01 23:00:00   93  1439
5298818  2019-01-01 23:00:00   94   123
5298819  2019-01-01 23:00:00   94   128
5298820  2019-01-01 23:00:00   94   156
5298821  2019-01-01 23:00:00   95  1844
5298822  2019-01-01 23:00:00   95  1872
5298823  2019-01-01 23:00:00   95  1877
5298824  2019-01-01 23:00:00   96   611
5298825  2019-01-01 23:00:00   96   671
5298826  2019-01-01 23:00:00   96   678
5298827  2019-01-01 23:00:00   96   697
5298828  2019-01-01 23:00:00   97  1303
5298829  2019-01-01 23:00:00   97  1322
5298830  2019-01-01 23:00:00   97  1329
5298831  2019-01-01 23:00:00   97  1389
5298832  2019-01-01 23:00:00   98   413
5298833  2019-01-01 23:00:00   98   458
5298834  2019-01-01 23:00:00   98   532
5298835  2019-01-01 23:00:00   98   624
5298836  2019-01-01 23:00:00   99  1376
5298837  2019-01-01 23:00:00   99  1468
5298838  2019-01-01 23:00:00   99  1542
5298839  2019-01-01 23:00:00   99  1587

[5298840 rows x 3 columns]

In [6]:
a = bs[['DATETIME_UTC']].drop(['KEY', 'KM'])

KeyError: "['KEY' 'KM'] not found in axis"

In [ ]:
_.info()