In [11]:
import numpy as np
import pandas as pd
import time
from tqdm import tqdm

In [26]:
speed_df = pd.read_csv("speeds_train.csv")
speed_test_df = pd.read_csv("speeds_test.csv")

events_df = pd.read_csv("events_train.csv")
events_test_df = pd.read_csv("events_test.csv")

weather_df = pd.read_csv("weather_train.csv")
weather_test_df = pd.read_csv("weather_test.csv")

sensors_df = pd.read_csv("sensors.csv")

In [43]:
distances_df = pd.read_csv("distances.csv",'|')

In [45]:
distances_df.head(5)

,"278,662","STATION_29,10.0,STATION_37,19.0,STATION_36,40.0,STATION_30,64.0,STATION_33,94.0"
0,"278,663","STATION_29,10.0,STATION_37,19.0,STATION_36,40...."
1,"278,664","STATION_29,10.0,STATION_37,19.0,STATION_36,40...."
2,"278,665","STATION_37,17.0,STATION_36,44.0,STATION_29,6.0..."
3,"278,666","STATION_37,17.0,STATION_36,44.0,STATION_29,6.0..."
4,"278,667","STATION_37,17.0,STATION_36,44.0,STATION_29,6.0..."

In [28]:
sensors_df.head(5)

     KEY  EMERGENCY_LANE    KM  LANES  ROAD_TYPE
0   44.0               0  1410      2          0
1  146.0               0  1473      2          0
2   53.0               0  1421      2          0
3  122.0               0   679      2          0
4   17.0               1  1399      3          1

In [35]:
len(speed_df.KEY.unique())

578

In [73]:
events_df

,START_DATETIME_UTC,END_DATETIME_UTC,EVENT_DETAIL,EVENT_TYPE,KM_END,KM_START,KEY,KEY_2
0,2018-07-19 07:34:46,2018-08-01 15:23:17,0.0,Gestione_viabilita,959,954,523.0,523_959
1,2018-07-25 12:20:06,2018-10-12 18:29:37,1.0,Pavimentazione,1814,1821,325.0,325_1814
2,2018-08-01 07:44:00,2018-08-01 16:18:58,2.0,Manutenzione_opere_in_verde,321,282,525.0,525_321
3,2018-08-01 08:14:30,2018-08-01 17:39:13,3.0,Opera_arte,713,712,517.0,517_713
4,2018-08-01 08:18:32,2018-08-01 17:38:27,3.0,Opera_arte,2542,2543,518.0,518_2542
5,2018-08-01 10:27:22,2018-08-01 11:00:19,4.0,Ostacolo_in_carreggiata,273,273,525.0,525_273
6,2018-08-01 10:49:03,2018-08-01 11:32:35,4.0,Ostacolo_in_carreggiata,455,455,35.0,35_455
7,2018-08-01 16:18:36,2018-08-01 18:08:36,4.0,Ostacolo_in_carreggiata,2149,2149,526.0,526_2149
8,2018-08-01 18:30:20,2018-08-01 20:32:25,6.0,Gestione_viabilita,318,315,525.0,525_318
9,2018-08-01 21:25:22,2018-08-02 05:13:01,8.0,Ostacolo_in_carreggiata,2478,2478,547.0,547_2478
10,2018-08-02 07:50:07,2018-08-02 16:21:18,2.0,Manutenzione_opere_in_verde,1952,1982,364.0,364_1952
11,2018-08-02 08:04:35,2018-08-02 17:18:21,3.0,Opera_arte,720,719,517.0,517_720
12,2018-08-02 10:34:20,2018-08-02 11:05:50,4.0,Ostacolo_in_carreggiata,287,287,525.0,525_287
13,2018-08-02 11:27:03,2018-08-02 12:06:42,4.0,Ostacolo_in_carreggiata,2890,2890,524.0,524_2890
14,2018-08-03 07:41:10,2018-08-03 08:42:14,12.0,extended_accident,2408,2408,147.0,147_2408
15,2018-08-03 10:17:26,2018-08-03 10:42:32,13.0,extended_accident,946,946,523.0,523_946
16,2018-08-03 11:49:57,2018-08-03 13:35:17,12.0,extended_accident,707,707,517.0,517_707
17,2018-08-03 13:19:22,2018-08-03 17:18:12,15.0,Pavimentazione,1840,1846,325.0,325_1840
18,2018-08-04 18:56:40,2018-08-04 20:22:00,15.0,Pavimentazione,2393,2393,147.0,147_2393
19,2018-08-05 05:19:02,2018-08-05 05:41:25,14.0,Ostacolo_in_carreggiata,2357,2357,147.0,147_2357
20,2018-08-05 10:14:08,2018-08-05 10:28:13,4.0,Ostacolo_in_carreggiata,2830,2830,524.0,524_2830
21,2018-08-06 10:26:25,2018-08-06 19:14:31,2.0,Manutenzione_opere_in_verde,2550,2578,518.0,518_2550
22,2018-08-06 11:25:05,2018-08-06 11:45:32,4.0,Ostacolo_in_carreggiata,2831,2832,524.0,524_2831
23,2018-08-06 19:05:29,2018-08-06 20:33:25,18.0,Veicolo_in_avaria,2401,2401,147.0,147_2401
24,2018-08-07 10:42:50,2018-08-07 11:05:32,4.0,Ostacolo_in_carreggiata,959,959,523.0,523_959
25,2018-08-07 11:42:43,2018-08-07 13:40:10,15.0,Pavimentazione,2398,2398,147.0,147_2398
26,2018-08-07 20:51:41,2018-08-08 09:22:00,0.0,Gestione_viabilita,912,903,523.0,523_912
27,2018-08-08 09:36:39,2018-08-08 10:51:24,19.0,Ostacolo_in_carreggiata,294,294,525.0,525_294
28,2018-08-08 13:30:16,2018-08-08 13:59:55,4.0,Ostacolo_in_carreggiata,1016,1016,146.0,146_1016
29,2018-08-08 14:36:17,2018-08-08 16:56:44,15.0,Pavimentazione,1833,1833,325.0,325_1833
...,...,...,...,...,...,...,...,...
37978,2018-11-26 07:51:10,2018-11-26 15:46:33,1.0,Pavimentazione,541,461,346.0,346_541
37979,2018-11-26 09:41:52,2018-11-26 13:36:35,6.0,Gestione_viabilita,733,700,146.0,146_733
37980,2018-11-26 09:52:48,2018-11-26 15:07:56,1.0,Pavimentazione,87,74,134.0,134_87
37981,2018-11-27 08:00:51,2018-11-27 16:12:13,1.0,Pavimentazione,541,461,346.0,346_541
37982,2018-11-27 08:45:20,2018-11-27 16:33:16,2.0,Manutenzione_opere_in_verde,672,669,130.0,130_672
37983,2018-11-27 10:32:48,2018-11-27 17:27:54,1.0,Pavimentazione,848,843,274.0,274_848
37984,2018-11-27 11:02:07,2018-11-27 13:37:08,6.0,Gestione_viabilita,877,867,357.0,357_877
37985,2018-11-27 11:00:55,2018-11-27 13:36:22,6.0,Gestione_viabilita,176,176,389.0,389_176
37986,2018-11-27 13:29:42,2018-11-27 14:31:09,12.0,extended_accident,473,473,373.0,373_473
37987,2018-11-27 13:33:41,2018-11-27 13:43:15,6.0,Gestione_viabilita,466,466,346.0,346_466
37988,2018-11-28 07:39:30,2018-11-28 16:39:26,2.0,Manutenzione_opere_in_verde,686,683,130.0,130_686
37989,2018-11-28 07:42:24,2018-11-28 14:14:06,6.0,Gestione_viabilita,497,449,373.0,373_497
37990,2018-11-28 09:49:47,2018-11-28 14:14:47,6.0,Gestione_viabilita,137,98,134.0,134_137
37991,2018-11-27 10:02:38,2018-11-28 14:11:20,6.0,Gestione_viabilita,499,453,379.0,379_499
37992,2018-11-28 11:34:20,2018-11-28 14:11:59,6.0,Gestione_viabilita,733,700,146.0,146_733
37993,2018-11-28 13:31:30,2018-11-28 14:15:47,6.0,Gestione_viabilita,499,461,346.0,346_499
37994,2018-11-28 13:32:18,2018-11-28 14:07:32,6.0,Gestione_viabilita,462,381,114.0,114_462
37995,2018-11-28 13:52:31,2018-11-28 14:16:41,6.0,Gestione_viabilita,176,158,389.0,389_176
37996,2018-11-28 13:53:59,2018-11-28 14:16:09,6.0,Gestione_viabilita,877,867,357.0,357_877
37997,2018-11-29 08:23:56,2018-11-29 16:44:48,2.0,Manutenzione_opere_in_verde,686,684,130.0,130_686
37998,2018-11-29 08:45:56,2018-11-29 16:45:27,0.0,Gestione_viabilita,500,500,373.0,373_500
37999,2018-11-29 09:45:25,2018-11-29 13:45:49,6.0,Gestione_viabilita,917,905,375.0,375_917
38000,2018-11-29 11:49:49,2018-11-29 13:47:05,6.0,Gestione_viabilita,499,461,346.0,346_499
38001,2018-11-30 08:38:40,2018-11-30 17:06:20,2.0,Manutenzione_opere_in_verde,693,690,130.0,130_693
38002,2018-11-30 09:01:13,2018-11-30 17:47:03,1.0,Pavimentazione,843,841,274.0,274_843
38003,2018-11-30 09:32:28,2018-11-30 17:05:53,2.0,Manutenzione_opere_in_verde,315,311,365.0,365_315
38004,2018-11-30 10:33:53,2018-11-30 13:43:14,6.0,Gestione_viabilita,134,98,134.0,134_134
38005,2018-11-30 13:25:36,2018-11-30 13:42:50,6.0,Gestione_viabilita,499,461,346.0,346_499
38006,2018-11-30 15:35:52,2018-11-30 17:16:20,55.0,Opera_arte,160,160,389.0,389_160
38007,2018-11-30 16:34:37,2018-11-30 18:22:39,4.0,Ostacolo_in_carreggiata,906,906,357.0,357_906

In [71]:
len(event_df)

38008

In [76]:
len(events_df.KEY_2.unique())

15047

In [61]:

datetimes=speed_test_df[speed_test_df.KEY_2=='0_443'].DATETIME_UTC

In [62]:
datetimes.max()

'2019-01-01 23:45:00'

In [63]:
datetimes.min()

'2018-12-01 00:00:00'

In [31]:
weather_df.head(5)

,ID,TEMPERATURE,MAX_TEMPERATURE,MIN_TEMPERATURE,WEATHER,DATETIME_UTC
0,STATION_7,16.0,22.0,16.0,Foschia,2018-10-07 02:00:00
1,STATION_12,15.0,25.0,16.0,Quasi Sereno,2018-10-07 02:00:00
2,STATION_17,22.0,26.0,20.0,Quasi Sereno,2018-10-07 02:00:00
3,STATION_29,11.0,19.0,13.0,Banchi di Nebbia,2018-10-07 02:00:00
4,STATION_34,17.0,19.0,17.0,Quasi Sereno,2018-10-07 02:00:00

In [67]:
datetimes=speed_df[speed_df.KEY_2=='0_443'].DATETIME_UTC
print(datetimes.max())

2018-11-30 23:45:00

In [39]:
weather_df.ID.describe()

count         123155
unique            90
top       STATION_61
freq            2079
Name: ID, dtype: object

#### SHAPES OF TRAIN AN TEST SPEEDS DF

In [14]:
print(f'shape of the train speeds df {speed_df.shape}')
print(f'shape of the test speeds df {speed_test_df.shape}')

shape of the train speeds df (10832482, 9)
shape of the test speeds df (3488814, 9)

#### PERCENTAGE OF TEST DATA

In [25]:
print(f'percentage of test data: {3488814/(10832482+3488814)}')

percentage of test data: 0.2436102151648845

#### DESCRIPTION OF THE TRAIN DATA

In [23]:
speed_df.describe()

,KEY,KM,SPEED_AVG,SPEED_SD,SPEED_MIN,SPEED_MAX,N_VEHICLES
count,1.083248e+07,1.083248e+07,1.083248e+07,1.083248e+07,1.083248e+07,1.083248e+07,1.083248e+07
mean,2.511634e+02,9.973521e+02,1.826045e+02,2.314246e+01,1.362801e+02,2.371897e+02,7.667250e+01
std,1.807650e+02,5.276877e+02,3.170869e+01,1.041687e+01,3.271592e+01,5.508389e+01,1.332124e+02
min,0.000000e+00,1.700000e+01,5.986600e+01,0.000000e+00,5.986600e+01,5.986600e+01,2.000000e+00
25%,8.900000e+01,5.590000e+02,1.591707e+02,1.608263e+01,1.181140e+02,1.973960e+02,1.100000e+01
50%,2.040000e+02,9.970000e+02,1.816900e+02,2.214553e+01,1.391480e+02,2.329920e+02,3.400000e+01
75%,4.220000e+02,1.437000e+03,2.063961e+02,2.879727e+01,1.585640e+02,2.750600e+02,8.600000e+01
max,5.790000e+02,1.997000e+03,4.239160e+02,2.677191e+02,3.947920e+02,4.708380e+02,2.141000e+03

#### DESCRIPTION OF THE TEST DATA

In [24]:
speed_test_df.describe()

,KEY,KM,SPEED_AVG,SPEED_SD,SPEED_MIN,SPEED_MAX,N_VEHICLES
count,3.488814e+06,3.488814e+06,3.488814e+06,3.488814e+06,3.488814e+06,3.488814e+06,3.488814e+06
mean,2.504640e+02,9.975006e+02,1.845249e+02,2.297134e+01,1.393479e+02,2.376049e+02,7.456642e+01
std,1.809155e+02,5.283537e+02,3.176912e+01,1.017027e+01,3.210127e+01,5.424757e+01,1.347744e+02
min,0.000000e+00,1.700000e+01,5.986600e+01,0.000000e+00,5.986600e+01,5.986600e+01,2.000000e+00
25%,8.800000e+01,5.590000e+02,1.608754e+02,1.598862e+01,1.213500e+02,1.973960e+02,1.000000e+01
50%,2.040000e+02,9.970000e+02,1.839666e+02,2.215341e+01,1.407660e+02,2.329920e+02,3.100000e+01
75%,4.210000e+02,1.438000e+03,2.085440e+02,2.871049e+01,1.601820e+02,2.750600e+02,8.100000e+01
max,5.790000e+02,1.997000e+03,4.069270e+02,2.517017e+02,3.850840e+02,4.708380e+02,2.133000e+03